@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'SourceSans3';
  src: url('./font/SourceSans3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanuman';
  src: url('./font/Hanuman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}